.app-container {
  display: flex;
  height: 100vh;
  background-color: #121212;
  overflow: scroll;
}

.main-content {
  padding: 24px;
  flex: 1;
  color: #fff;
  background: #1a1a1a;
}

.content-sections {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-grow: 1;
}
