.logout-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logout-text {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.logout-text:hover {
  text-decoration: underline;
}

.logout-button {
  padding: 10px 20px;
  background: transparent;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  color: rgba(255, 255, 255, 0.7);

  gap: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.logout-button:hover {
  background: #0044b0;
}
